body {
  background-color: #282a36;
}
div.player {
  padding: 16px;
}
h1,h2,h3,p,li,dl {
  color:#f8f8f2;
}
h2, h3 {
  border-bottom: #bd93f9 solid 1px;
}
dl {
  padding: 16px;
  border-radius: 3px;
  background: #44475a;
}
dt {
  font-size: x-large;
  font-weight:bold;
  padding: 0 0 6px;
}
dd{
  margin: 0;
  padding: 0;
  text-align: right;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 16px 0;
  padding: 0;
  list-style-type: none;
}
span.artistname {
  padding: 0 0 0 6px;
  font-size: smaller;
}
button {
  margin: 0 6px 0 0;
  padding: 6px 16px;
  border-radius: 3px;
  border: none;
  background: #44475a;
  color:#f8f8f2;
}
button:hover {
  background: #6272a4;
  cursor: pointer;
}