body {
  background-color: #282a36;
}
div.player {
  padding: 16px;
}
h1,h2,h3,p,li,dl {
  color:#f8f8f2;
  font-weight: normal;
}
h2, h3 {
  border-bottom: #bd93f9 solid 1px;
}
dl {
  margin: 0;
  padding: 16px;
  border-radius: 3px;
}
dl.current {
  background: #44475a;
}
dl.current dt {
  padding: 0 0 6px;
  font-size: x-large;
}
dd.artist {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: smaller;
}
dl.upnext dd.artist {
  border-bottom: #44475a solid 1px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 16px 0;
  padding: 0;
  list-style-type: none;
}
button {
  margin: 0 6px 0 0;
  padding: 6px 16px;
  border-radius: 3px;
  border: none;
  background: #44475a;
  color:#f8f8f2;
}
button:hover {
  background: #6272a4;
  cursor: pointer;
}